body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 10%;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-family: monospace;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    min-height: 10%;
}

textarea#userCode {
    background-color: #fff;
}

textarea#formattedCode {
    background-color: #f7f7f7;
}

@media (max-width: 768px) {
    textarea {
        width: 95%;
    }
}
.btn {
    margin:10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tfmBtn:hover {
    background-color: #0056b3; 
}
.fileInput{
        background-color: #3498db;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        
@media (max-width: 768px) {
        width: 95%;
}}
